Package: enigma2-plugin-extensions-levi45-addon-manager
Version: 10.1-r28
Description: Levi45 addon manager
Section: misc
Priority: optional
Maintainer: @levi45-@Lululla
Architecture: all
Depends: wget
Source: http://satellite-forum.com
Homepage: satellite-forum.com
